<div class="content-body">
  <div class="container-fluid">
    <div class="row">
			<div class="col-xl-6" *ngFor="let item of lstIndexSource">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{item.name}}</h4>
          </div>
          <div>
            <app-index-chart [indexSource]="item"></app-index-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
			<div class="col-xl-3" *ngFor="let item of lstBaseWorldIndex">
        <div class="card">
          <div class="card-header header-index">
            <div class="status-i">{{item.index}}</div>
            <div>{{item.last}}</div>
          </div>
          <div>
            <div class="card-content content-index">
              <div [ngClass]="{'status-i': item.change.charAt(0) == '+', 'status-d': item.change.charAt(0) == '-'}">{{item.change}}</div>
              <div [ngClass]="{'status-i': item.changePc.charAt(0) == '+', 'status-d': item.changePc.charAt(0) == '-'}">{{item.changePc}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="profile-tab">
            <div class="custom-tab-1">
              <ul class="nav nav-tabs" ngbNav #nav="ngbNav">
                <li *ngFor="let tab of lstFundCode" class="nav-item" [ngbNavItem]="tab"><a href="#my-posts"
                    data-toggle="tab" class="nav-link" ngbNavLink>{{tab}}</a>
                  <ng-template ngbNavContent>
                    <div class="card-body">
                      <app-mixed-line-column [fundCode]="tab"></app-mixed-line-column>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Top đột phá</h4>
          </div>
          <div class="card-body">
            <app-table-basic></app-table-basic>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
