<div class="content-body">
    <div class="container-fluid">
        <div class="form-head mb-4 mb-sm-5 d-flex  flex-wrap align-items-center ">
            <h2 class="font-w600 mb-3 mr-auto">Market Capital</h2>
           
            <mat-form-field   class="form-control style-1 default-select  mr-3 style-2 mb-3 dashboard-select">
              <mat-select value="USD">
                <mat-option value="USD">USD</mat-option>
                <mat-option value="INR">INR</mat-option>
                <mat-option value="INR">INR</mat-option>
              </mat-select>
            </mat-form-field>
            <a href="javascript:void(0);" class="btn btn-outline-primary mb-3"><i class="las la-calendar scale5 mr-2"></i>Filter Periode</a>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="table-responsive table-hover ">
                    <table class="table display mb-4 dataTablesCard font-w600 dataTable   border-no card-table text-black" id="example6">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Coin</th>
                                <th>Last Price</th>
                                <th>Change (24h)</th>
                                <th>Volume (24h)</th>
                                <th>Graph</th>
                                <th class="bg-none width50"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let item of marketCapital">
                                <td>
                                    <span class="{{item.rank_class}}  rank-ic fs-20">{{item.rank}}</span>
                                </td>
                                <td class="wspace-no">
                                    <img src="{{item.coin_image}}" class="width40 mr-3"/>
                                    <span class="text-black">{{item.name}}</span>	
                                </td>
                                <td>{{item.price}}</td>
                                <td>{{item.change}}</td>
                                <td>{{item.volume}}</td>
                                <td>
                                   <apx-chart
                                        [series]="[{name: 'Desktops',data: item.graph_series}]"
                                        [chart]="chartOptions.chart"
                                        [xaxis]="chartOptions.xaxis"
                                        [yaxis]="chartOptions.yaxis"
                                        [dataLabels]="chartOptions.dataLabels"
                                        [grid]="chartOptions.grid"
                                        [stroke]="chartOptions.stroke"
                                        [colors]="chartOptions.colors"
                                        [tooltip]="chartOptions.tooltip"
                                        [responsive]="chartOptions.responsive"
                                    ></apx-chart>
                                </td>
                                <td>
                                    <div class="dropdown ml-4 dropdown-no-icon" ngbDropdown>
                                        <div class="btn-link" data-toggle="dropdown" ngbDropdownToggle>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#A7A7A7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>	
                </div>		
            </div>
        </div>
    </div>
</div>