<div class="content-body">
  <div class="container-fluid">
    <apx-chart
    [series]="chartOptions1.series"
    [chart]="chartOptions1.chart"
    [dataLabels]="chartOptions1.dataLabels"
    [plotOptions]="chartOptions1.plotOptions"
    [title]="chartOptions1.title"
    [legend]="chartOptions1.legend"
  ></apx-chart>
  </div>
  <div class="container-fluid">
    <apx-chart
    [series]="chartOptions2.series"
    [chart]="chartOptions2.chart"
    [dataLabels]="chartOptions2.dataLabels"
    [plotOptions]="chartOptions2.plotOptions"
    [title]="chartOptions2.title"
    [legend]="chartOptions2.legend"
  ></apx-chart>
  </div>
  <div class="container-fluid">
    <apx-chart
    [series]="chartOptions3.series"
    [chart]="chartOptions3.chart"
    [dataLabels]="chartOptions3.dataLabels"
    [plotOptions]="chartOptions3.plotOptions"
    [title]="chartOptions3.title"
    [legend]="chartOptions3.legend"
  ></apx-chart>
  </div>
  <div class="container-fluid">
    <apx-chart
    [series]="chartOptions4.series"
    [chart]="chartOptions4.chart"
    [dataLabels]="chartOptions4.dataLabels"
    [plotOptions]="chartOptions4.plotOptions"
    [title]="chartOptions4.title"
    [legend]="chartOptions4.legend"
  ></apx-chart>
  </div>
  <div class="container-fluid">
    <apx-chart
    [series]="chartOptions5.series"
    [chart]="chartOptions5.chart"
    [dataLabels]="chartOptions5.dataLabels"
    [plotOptions]="chartOptions5.plotOptions"
    [title]="chartOptions5.title"
    [legend]="chartOptions5.legend"
  ></apx-chart>
  </div>
  <div class="container-fluid">
    <apx-chart
    [series]="chartOptions6.series"
    [chart]="chartOptions6.chart"
    [dataLabels]="chartOptions6.dataLabels"
    [plotOptions]="chartOptions6.plotOptions"
    [title]="chartOptions6.title"
    [legend]="chartOptions6.legend"
  ></apx-chart>
  </div>
</div>

