<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="profile-tab">
            <div class="custom-tab-1">
              <ul class="nav nav-tabs" ngbNav #nav="ngbNav">
                <li *ngFor="let tab of stockSymbol" class="nav-item" [ngbNavItem]="tab.name"><a href="#my-posts" data-toggle="tab" class="nav-link" ngbNavLink>{{tab.name}}</a>
                  <ng-template ngbNavContent>
                    <div class="card-body">
                      <app-table-sortable [listSymbol]="tab.data"></app-table-sortable>
                    </div>
                  </ng-template>
                  <!-- <div *ngIf="tab.name == 'Phái sinh'" ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{tab.name}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>{{tab.nameTab}}</button>
                    </div>
                  </div> -->
                </li>

                <!-- <li class="nav-item" ngbNavItem="about-me"><a href="#about-me" data-toggle="tab" class="nav-link" ngbNavLink>HOSE</a>
                  <ng-template ngbNavContent>
                    <div class="card-body">
                      <app-table-sortable2></app-table-sortable2>
                    </div>
                  </ng-template>
                </li> -->
              </ul>
              <div [ngbNavOutlet]="nav" class=""></div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Top đột phá</h4>
          </div>
          <div class="card-body">
            <app-table-basic></app-table-basic>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="content-body">
  <div class="container-fluid">
    <h4 class="card-title">Bảng điện tử</h4>
    <app-table-sortable></app-table-sortable>
  </div>
</div> -->

<!-- <div class="profile-tab">
  <div class="custom-tab-1">
    <ul class="nav nav-tabs" ngbNav #nav="ngbNav">
      <li class="nav-item" ngbNavItem="posts"><a href="#my-posts" data-toggle="tab" class="nav-link" ngbNavLink>Sàn 1</a>
        <ng-template ngbNavContent>
          <div class="card-body">
            <app-table-sortable></app-table-sortable>
          </div>
        </ng-template>
      </li>

      <li class="nav-item" ngbNavItem="about-me"><a href="#about-me" data-toggle="tab" class="nav-link"
          ngbNavLink>Sàn 2</a>
        <ng-template ngbNavContent>
          <div class="card-body">
            <app-table-sortable></app-table-sortable>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class=""></div>
  </div>
</div> -->
